body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-image: url('../../pictures/playi.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 500px;
}
button {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 3em;
    background-color: #f05151;
    color: white;
    padding: 10px 20px;
    border: 10px solid #38373b;
    border-radius: 50px;
    cursor: pointer;
    width: 300px;
    transition: 0.25s;
    margin-top: 30px;
}

#play-button {
    letter-spacing: 9px;
}

button:hover {
    background-color: #a30000;
    transform: scale(1.25);
    transition: 0.25s;
}

a {
    text-decoration: none;
}

#about-button {
    display: block;
    font-size: 1.5em;
    background-color: #f05151;
    color: white;
    padding: 10px 20px;
    border: 10px solid #3b3737;
    border-radius: 50px;
    cursor: pointer;
    width: 250px;
    border-radius: 50px;
    
}

#about-button:hover {
    background-color: #a30000;
    transform: scale(1.25);
    transition: 0.25s;
}
