body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../pictures/bgCb.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    background-color: #fafafa;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

.menu-btn {
    background-color: #ffc400;
    font-family: 'Fredoka One', sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 6px 10px #f50100;
    text-decoration: none;
    transition: 0.25s;
}

.hint-btn {
    background-color: #008b05;
    font-family: 'Fredoka One', sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 6px 10px #00c508;
    transition: 0.25s;
}

.hint-btn:hover {
    background-color: #134128;
    transform: scale(1.20);
    transition: 0.25s;
}

ul li a:hover {
    background-color: #a30000;
    transition: 0.25s;
    font-size: 20px;
}

.object-container {
    position: absolute;
    top: 56.3%;
    left: 0;
    width: 100%;
    height: 200px;
    transform: translateY(-50%);
    overflow: visible;
}

.score-container {
    display: block;
    position: fixed;
    top: 10px;
    left: 65%;
    transform: translateX(-50%);
    font-family: 'Fredoka One', sans-serif;
    font-size: 24px;
    color: rgb(0, 0, 0);
    z-index: 2;
}

.miss-container {
    position: fixed;
    top: 10px;
    right: 50%;
    transform: translateX(-50%);
    font-family: 'Fredoka One', sans-serif;
    font-size: 24px;
    color: red;
    z-index: 2;
}

.mismatch-container {
    position: fixed;
    top: 10px;
    right: 35%;
    transform: translateX(-50%);
    font-family: 'Fredoka One', sans-serif;
    font-size: 24px;
    color: blue;
    z-index: 2;
}

.random-object {
    position: absolute;
    width: 180px;
    height: 100px;
    cursor: grab;
}

.random-object:hover {
    transform: scale(1.25);
}

.dropped {
    animation: bounce 0.5s;
    transition: transform 0.2s;
}

.random-object:active {
    cursor: grabbing;
    opacity: 100%;
}

.random-object.dragging {
    transform: scale(1.25);
    cursor: grabbing;
    opacity: 1 !important;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Container Styles */
.container {
    width: 480px;
    height: 480px;
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 60%;
}

.bio-container {
    left: calc(15% - 65px);
}

.haz-container {
    left: calc(65% - 65px);
}

.non-bio-container {
    left: calc(40% - 65px);
}

.game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fredoka One', sans-serif;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    display: none;
}

.game-over button {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.game-over button:hover {
    background: darkred;
}



.overlay-texts {
    display: flex;
    position: absolute;
    margin-left: 150px;
    top: 790px;
    left: 10px;
    z-index: 1000;
    text-align: center;
    width: 100%;
}

.overlay-texts p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.overlay-text {
    margin-left: 250px;
}

.overlay-text1 {
    margin-right: 246px;
    margin-left: 190px;
}

.overlay-text2 {
    margin-right: 270px;
}

/* Initially hide the hint container */
#hint-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none; /* Ensure it starts hidden */
}

.hint-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Center the text */

    width: 550px;
    font-size: 20px; 
    font-family: 'Fredoka One', sans-serif;
    border: rgb(249, 0, 0) 1px solid;
}

.hint-text {
    display: flex;
    flex-direction: row;
}

.hint-text div {
    display: flex;
    flex-direction: column;
}

.hint-text div img {
    width: 180px;
    height: 100px;
    margin: 0 auto;
}

.hint-text div:first-of-type img.hint-image {
    margin-top: 24px;
}

#close-hint-btn {
    margin: 20px auto 0; /* This will center the button horizontally */    
    padding: 10px;
    background-color: #40AA5B;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Fredoka One', sans-serif;
    font-size: 15px; 
    border-radius: 30px;
}

#close-hint-btn:hover {
    background-color: #359143;
}

